.idea
.htaccess
.htpasswd
backstop_data/bitmaps_reference
backstop_data/bitmaps_test
backstop_data/html_report
.env
vendor
node_modules
/npm-debug.log
config.json
bs-config.json

.DS_Store
Desktop.ini
Thumbs.db
.Spotlight-V100
.Trashes
*.pyc
*.out
.npmrc

